<!-- ******FOOTER****** --> 
<footer class="footer">
    <div class="container">
        <small class="copyright pull-left">Copyright &copy; 2016 <a href="http://escherlabs.com/" target="_blank">escherlabs</a></small>
        <ul class="links list-inline">
            <!-- <li><a href="#">Terms</a></li> -->
        </ul>
    </div>
</footer><!--//footer-->
