<!-- ******HEADER****** --> 
<header id="top" class="header navbar-fixed-top">  
    <div class="container">            
        <h1 class="logo pull-left">
            <a class="scrollto" href="/index.html">
                <img id="logo-image" class="logo-image" src="assets/images/logo/logo.png" alt="Logo">
                <span class="logo-title">{{title}}</span>
            </a>
        </h1><!--//logo-->              

    </div>
</header><!--//header-->