<div class="faq-col col-md-6 col-sm-6 col-xs-12">
	<div class="item">
      <h3 class="question"><i class="fa fa-gear"></i>{{title}}</h3>
      <p class="answer">{{{content}}}</p>
  </div><!--//item-->
</div>