<div class="row">
	<div class="col-md-9">
		{{#page.fetch}}
			{{>blog}}
		{{/page.fetch}}
	</div>
	<div class="col-md-3">
		<ul class="list-group">
			{{#page.fetch}}
				<li class="list-group-item"><a href="#{{_id}}"><i class="{{icon}}"></i> {{title}}</a></li>
			{{/page.fetch}}
		</ul>
	</div>
</div>
